<div class="container mt-5" style="display: flex;  justify-content: center; ">
   
    <div class="row" style="width: 350px;">
        <div>
            <h1 class="text-center">Sign up form</h1>
            <form action="" (ngSubmit)="OnSubmit()"  [formGroup]="loginUserForm" >
               
                <mat-form-field appearance="outline" style="width: 100%;">
                    <mat-label>Enter your email</mat-label>
                    <input type="mail" formControlName="email" matInput placeholder="Enter your email">
                </mat-form-field>
                <mat-form-field appearance="outline" style="width: 100%;">
                    <mat-label>Enter Password</mat-label>
                    <input type="password" formControlName="password"  matInput placeholder="Enter Password">
                </mat-form-field>
                <div class="save">
                    <button mat-raised-button  color="primary" type="submit"  style="width: 100%;">Login</button>
                </div>
                <div class="text-center mt-2">
                    <p>Don't have an account? <a routerLink= "/signup">Sign up</a></p>
                </div>
            </form>
        </div>
    </div>
</div>